<!DOCTYPE html>
<html>
  <head>
    <title>Mimosa</title>

    <link rel="stylesheet" href="/stylesheets/vendor/leaflet/leaflet.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="entire-container" ng-cloak ng-view>
    

    {{#reload}}
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/reload-client.js"></script>
    {{/reload}}

    {{#optimize}}
      <script src="/javascripts/main-built.js"></script>
    {{/optimize}}

    {{^optimize}}
      <script src="/javascripts/vendor/requirejs/require.js" data-main="/javascripts/main.js"></script>
    {{/optimize}}
  </body>
</html>