@container-padding: 10px;
@legend-padding: 4px;

.entire-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.unit-legend {
  background-color: #FFF;
  font-family: Arial, Helvetica, sans-serif;

  position: fixed;
  bottom: @container-padding;
  left: @container-padding;

  min-width: 200px;
  height: 200px;

  padding: @legend-padding;

  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.65098) 0 1px 5px 0;

  @header-height: 20px;
  header {
    text-align: center;
    font-weight: bold;

    height: @header-height;
  }

  @search-container-height: 30px;
  .search-container {
    position: absolute;
    top: @legend-padding + @header-height;
    left: 0;
    right: 0;

    height: @search-container-height;
    padding: @legend-padding;

    background-color: #FAFAFA;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;

    box-sizing: border-box;

    input {
      margin: 0;
      width: 100%;
      box-sizing: border-box;

      border: 1px solid #CCC;
      border-radius:      2px;

      box-shadow:         1px 1px 1px 1px #EEE;
    }
  }

  .units-container {
    position: absolute;
    top: @legend-padding + @header-height + @search-container-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    ul {
      margin: 0;
      padding: @legend-padding;
      list-style-type: none;

      li {
        font-family: Tahoma;

        margin-bottom: @legend-padding;
        padding: 2px;

        border: 1px solid #ccc;
        border-radius:      2px;
        box-shadow:         1px 1px 1px 1px #EEE;

        input {
          position: relative;
          top: -6px;
        }

        .unit-details {
          display: inline-block;
          overflow: hidden;

          header {
            text-align: left;
            font-weight: bold;
            height: 16px;
          }

          footer {
            color: #999;
            font-style: italic;
            font-size: 11px;
          }
        }
      }
    }
  }
}

[filebrowser]{
  border: 3px dashed #FFF;

  text-align: center;
  padding: 50px;
}

[filebrowser].filehover {
  border: 3px dashed #555;
  border-radius: 20px;
}

h1 {
  pointer-events: none;
}

body {
  padding: 0;
  margin: 0;

  min-width: 500px;
  min-height: 300px;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
