<div class="entire-container" id="map" map>
    <div control class="unit-legend" ng-controller="UnitLegendController">
        <header>Units</header>
        <div class="search-container">
            <input type="text" ng-model="search.id" placeholder="1/1/A/1-1IN...">
        </div>
        <div class="scrollable">
            <ul>
                <li ng-repeat="unit in units | filter:'h'">
                    <input type="checkbox" ng-model="unit.showPath" ng-change="togglePath(unit)" ng-disabled="unit.getDistance() === 0"> {{unit.id}} ({{ unit.getDistance() | number:2}} km)
                </li>
            </ul>
        </div>
    </div>
</div>